<!doctype html>
<html>
<head>
    <title>Meadowlark Travel</title>
</head>
<body>
    <!--alt atribute is a message displayed if an image can't be shown-->
    <header><img src="/img/logo.png" alt="Sulthan Travel's Logo"></header>
    {{{body}}}
</body>
</html>